* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #262626;
}

body {
  background-color: rgb(238, 238, 238);
}

/* CSS of NAVBAR/HEADER */
header {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  height: 100px;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 999;
}

header section a {
  font-size: 40px;
}

nav ul {
  display: flex;
  gap: 3rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-transform: uppercase;
  font-size: 18px;
}

/* CSS of Contents */
main {
  height: 100vh;
  padding-top: 100px;
  /* border: 2px solid black; */
}

/* HOME CONTENT CODE */
.home-inside-content {
  /* border: 2px solid blue; */
  height: calc(100vh - 104px);
  background: url("images/homepage.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}

.home-inside-content a {
  border: 1px solid firebrick;
  padding: 5px;
  margin-top: 490px;
  margin-left: 45px;
  width: 272px;
  height: 5.4rem;
  border-radius: 38px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/* ABOUT CONTENT CODE */
.about-inside-content {
  /* border: 2px solid blue; */
  height: calc(100vh - 104px);
}

.about-inside-content h2 {
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
}

.content-wrapper {
  /* border: 1px solid firebrick; */
  margin: 5px;
  display: flex;
  justify-content: center;
}

.content {
  width: 500px;
  height: 500px;
  /* border: 1px solid firebrick; */
  margin: 10px;
}

.content h3 {
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
  letter-spacing: 3px;
}

.content img {
  width: 100%;
  padding: 10px;
  height: calc(100% - 90px);
}

.about-inside-content p {
  text-align: center;
  padding: 50px;
  font-size: 20px;
}

/* PRODUCT CONTENT CODE */
.product-inside-content {
  /* border: 2px solid blue; */
  height: calc(100vh - 104px);
  display: absolute;
}

.product-inside-content h2 {
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
}

.product-content-wrapper {
  width: 100%;
  /* border: 2px solid firebrick; */
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.product-content-wrapper img {
  width: 500px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* PROMOS CONTENT CODE */
.promos-inside-content {
  /* border: 2px solid blue; */
  height: calc(100vh - 104px);
  display: absolute;
}

.promos-inside-content h2 {
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
}

.promos {
  /* border: 2px solid firebrick; */
  height: 700px;
  display: flex;
}

.promos .promoss {
  width: 500px;
  height: 100%;
  /* border: 2px solid blue; */
  padding: 10px;
}

.promos .promoss img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* CONTACT CONTENT CODE */
#contact-content {
  width: 100%;
  /* border: 2px solid black; */
}

#contact-content h2 {
  text-align: center;
  padding-top: 10px;
}

#contact-content p {
  text-align: center;
  font-size: 20px;
}

.contact-link {
  /* border: 2px solid firebrick; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.contact-link a {
  display: flex;
  align-items: center;
}

.contact-link i {
  font-size: 50px;
}
